<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" >

</head>
<body>
    <h1>INVOICE FORM</h1>
    <h2>Client Information</h2>
    <form id="customer-info" action=" http://35.204.57.81:9099/hello" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="customer_name">
        </div>
        <div>
          <label for="billto">Bill To:</label>
          <input type="text" id="billto" name="bill_to">
        </div>
      <h2>Client Address</h2> 
        <div>
          <label for="street">Street:</label>
          <input type="text" id="street" name="street_name">
        </div>
        <div>
          <label for="city">City</label>
          <input type="text" id="city" name="city">
        </div>
        <div>
          <label for="line2addr">line2addr</label>
          <input type="text" id="line2addr" name="line2addr">
        </div>
        <div>
          <label for="zipcode">Code</label>
          <input type="number" id="zipcode" name="zipcode">
        </div>
      <h2>Client ontacts</h2> 
        <div>
          <label for="tel">Tel:</label>
          <input type="number" id="tel" name="tel">
        </div>
        <div>
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email">
        </div>
        <div>
          <label for="fax">Fax</label>
          <input type="number" id="fax" name="fax">
        </div>
      <br>
    <h2>Payment Information</h2>
    <div>
      <label for="description">Desription</label>
      <textarea id="description" name="description"></textarea>
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" id="price" name="price">
    </div>
    <div>
      <label for="Qty">Qty</label>
      <input type="number" id="qty" name="qty">
    </div>

    <br>
    <div class="button">
        <script>
            submitForms = function(){
                document.getElementById("customer-address").submit();
                document.getElementById("customer-contact").submit();
                document.getElementById("customer-info").submit();
            }
        </script>
        <button type="submit" onclick="submitForms()" >Submit</button>
    </div>

</body>
</html>
