<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</head>
<body>
    <div id="container">
        <div id="border-strip" >

        </div>
        <div id="header">
            <div id="name">
                <h1>Invoice</h1>
            </div>
            <div id="logo">
                <img src="{{ url_for('static', filename='img/malcam_logo.png') }}">
            </div>
        </div>
        <div id="document-info" >
            <div id="from">
              <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
                <div id="from-variables">
                    <p id="compReg-var" >Co. Reg. No.</p>
                    <p id="vat-var">Vat Reg. No:</p>
                    <p id="tel-var">Tel:</p>
                    <p id="fax-var">Cell:</p>
                    <p id="email-var">Email:</p>
                </div>

                <div id="from-values">
                    <p id="compReg-val" >2018/272360/07</p>
                    <p id="vat-val">4460285739 </p>
                    <p id="tel-val">087 701 5927</p>
                    <p id="fax-val">073 618 2779</p>
                    <p id="email-val">sales@malcam.co.za</p>
                </div>
            </div>

            <div id="address">
              <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
                <div id="addr-variables">
                    <p id="street-var">3107 Ratama Cr</p>
                    <p id="line1-addr-var">Brooklands Lifestyle Estates 3</p>
                    <p id="line2-addr-var">Kosmosdal</p>
                    <p id="code-var">0157</p>
                </div>
                </div>

            <div id="to">
              <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
                <div id="to-variables">
                    <p id="to-client-var">{{customer_name}}</p>
                    <p id="to-bille-var">{{bill_to}}</p>
                    <p id="to-email-var">{{email}}</p>
                    <p id="to-phone-var">{{tel}}</p>
                    <p id="to-fax-var">{{fax}}</p>
                    <p id="to-street-var">{{street}}</p>
                    <p id="to-line1-addr-var">{{line1addr}}</p>
                    <p id="to-line2-addr-var">{{line2addr}}</p>
                    <p id="to-code-var">{{zipcode}}</p>
		    <p id="to-invoice">Invoice No: malc{{invoiceno}}</p>
                </div>
                </div>

        </div>
        <div id="mytable">
                <table id="table">
                    <tr id="col">
                        <th>Description</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>
                            {{description}}
                        </td>
                        <td>
                            R {{price}}
                        </td>
                        <td>
                            {{qty}}
                        </td>
                        <td>
                            R {{amount}}
                        </td>
                    </tr>
		    {% for n in amtdict  %}
                    <tr>
                        <td>
                        	{{ amtdict[n][1] }}
                        </td>
                            <td>
			   	R {{ amtdict[n][2] }}
                            </td>
                            <td>
                                 {{ amtdict[n][3] }}
                            </td>
                            <td>
			    	R {{ amtdict[n][0] }}
                            </td>
                        </tr>
			{% endfor %}
                </table>
        </div>
        <div id="summary">
            <div id="sub">
              <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
                <div id="sub-variables">
                    <p id="sub-var"></p>
                    <p id="tax-var"></p>
                    <p id="total-var"></p>
                    <p id="balance-var"></p>
                </div>
                <div id="sub-values">
                    <p id="sub-val">R {{sub_tot}}</p>
                    <p id="tax-val">R {{tax}}</p>
                    <p id="total-val">R {{total}}</p>
                    <p id="balance-val"><b>R {{balance}}</p>
                </div>
            </div>
    </div>
	    <div class="banking-details">
	    	<p>Malcam Solution PTY LTD<p/>
		<p>FNB<p/>
		<p>Branch: Centurion<p/>
		<p>Account Type: Current Account<p/>
		<p>Account Number: 62765356805<p/>
	    </div>
        </div>
    </div>


</body>
</html>
